
.bookmark h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #27231c;


    

}
body{
    background-color: antiquewhite;
}
h2{
    color:#201c17
    ;
    
}
button{
width: 19%;}
hr{
    border: 2px dashed black !important;
opacity: 75%;
}

.small-alert{
    font-size: 13px;
    padding: 4px 8px;
    margin-top: 5px;
}

