
.bookmark h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    color: #27231c;

    

}
body{
    background-color: #37210B;
}
h2{
    color:#27231c;

    
}
button{
width: 19%;}
hr{
    border: 2px dashed black !important;
opacity: 75%;
}

